.container{
    border-radius: 16px 16px 0 0;
    height: 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.opcoes{
    display: flex;
    justify-content: center;
}
p{
    margin-left: 9px;
    margin-right: 9px;
}