.this-root{
    width: 272px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.title{
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center ;
}
img{
    height: 38px;
    margin-bottom: 12px;
}