.this-root{
    width: 272px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
img{
    height: 38px;
    margin-bottom: 12px;
}